body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F3DFBF;
  color: #07004D;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1,h2 {
  color: #07004D;
  text-shadow: 1px 1px #42E2B8;
  text-align: center;
}

input, select, button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #EB8A90;
  color: #07004D;
  width: 100%;
  max-width: 400px;
}

#reminderList {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  box-sizing: border-box;
}

.reminder-item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #2D82B7;
  background-color: #F3DFBF;
  color: #07004D;
  border-radius: 5px;
}

button:hover {
  background-color: #42E2B8;
  cursor: pointer;
}

.reminder-item button:hover {
  background-color: #07004D;
  color: #F3DFBF;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  input, select, button {
    max-width: 100%;
  }

  .reminder-item {
    font-size: 14px;
  }
}
